:root {
  --border-radius: 5px;
  --card-spacing: 1rem;

  --purple-900: hsl(271, 81%, 46%);
  --purple-700: hsl(271, 81%, 56%);
  --purple-300: hsl(271, 81%, 86%);

  --red-900: hsl(0, 84%, 40%);
  --red-700: hsl(0, 84%, 60%);

  --green-900: hsl(142, 76%, 26%);
  --green-700: hsl(142, 76%, 36%);
  --green-300: hsl(90, 57%, 97%);

  --gray-700: hsl(0, 0%, 20%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-300: hsl(0, 0%, 85%);
  --gray-100: hsl(210, 40%, 96%);
  --gray-50: hsl(0, 0%, 97%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --font-weight-600: 600;
}

.home-link {
  margin: var(--card-spacing);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--purple-700);
}

.profile-page {
  display: flex;
  background-color: var(--gray-100);
  border: none;
}

.container {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius);
  margin: var(--card-spacing);
}

.lobby-subtitle {
  color: var(--gray-500);
}

.game-code-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green-300);
  height: auto;
}

.game-code-label {
  color: var(--green-900);
  font-weight: var(--font-weight-600);
}

.game-code {
  color: var(--green-900);
}

.copy-button {
  color: var(--green-900);
  font-weight: var(--font-weight-600);
  display: flex;
}

.player-count {
  display: flex;
  font-weight: var(--font-weight-600);
}

.player-list {
  width: 100%;
}

.player-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--card-spacing);
}

.player-avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--gray-100);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--card-spacing);
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-name {
  font-weight: var(--font-weight-600);
  margin-right: var(--card-spacing);
}

.host-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-300);
  color: var(--purple-900);
  height: 1.25rem;
  font-size: 0.75rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-right: var(--card-spacing);
}

.ready-status {
  display: flex;
}

.ready {
  color: var(--green-700);
}

.not-ready {
  color: var(--red-700);
}

.quiz-section {
  margin: var(--card-spacing);
}

.quiz-section p {
  color: var(--gray-500);
}

.quiz-input {
  margin-bottom: var(--card-spacing);
  width: 100%;
}

.randomize-button {
  width: 100%;
}

.start-game-button {
  margin-top: var(--card-spacing);
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }

  .profile-page {
    flex-direction: column;
  }
}
