:root {
  --border-radius: 5px;
  --card-spacing: 1rem;

  --purple-900: hsl(271, 81%, 46%);
  --purple-700: hsl(271, 81%, 56%);
  --purple-300: hsl(271, 81%, 86%);

  --red-900: hsl(0, 84%, 40%);
  --red-700: hsl(0, 84%, 60%);

  --green-900: hsl(142, 76%, 26%);
  --green-700: hsl(142, 76%, 36%);
  --green-300: hsl(90, 57%, 97%);

  --gray-700: hsl(0, 0%, 20%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-300: hsl(0, 0%, 85%);
  --gray-100: hsl(210, 40%, 96%);
  --gray-50: hsl(0, 0%, 97%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --font-weight-600: 600;
}

button {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.AI-Quizzer {
  margin-left: var(--card-spacing);
  color: var(--purple-700);
}

.name-icon {
  display: flex;
  align-items: center;
}

.name {
  margin-right: var(--card-spacing);
  color: var(--gray-500);
}

.icon {
  margin-right: var(--card-spacing);
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--gray-100);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-700);
}

.profile {
  margin: var(--card-spacing);
}

/* Added for flex layout container */
.profile-quizzes {
  display: flex;
  gap: var(--card-spacing);
}

/* Make profile take flexible width */
.profile {
  flex: 1;
  height: 30rem;
}

.profile-heading {
  font-size: 1.75rem;
}

.profile-text {
  color: var(--gray-500);
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-icon {
  margin-top: var(--card-spacing);
  width: 5rem;
  height: 5rem;
  background-color: var(--gray-100);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-700);
}

.profile-name {
  font-weight: var(--font-weight-600);
  font-size: 1.25rem;
  margin-bottom: 0;
}

.profile-date {
  color: var(--gray-500);
  margin-bottom: var(--card-spacing);
}

/* Quizzes Section */
/* Max width & full width */
.quizzes {
  max-width: 960px;
  width: 100%;
}

/* Empty skeletons for the requested classes */
.my-quizzes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quizzes-create-btn {
  margin-right: var(--card-spacing);
}

.quiz {
  margin-top: var(--card-spacing);
  margin-right: var(--card-spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: var(--font-weight-600);
}

.quiz-info {
  display: flex;
  margin: 0;
}

.quiz-info p {
  margin-right: var(--card-spacing);
  color: var(--gray-500);
}

.quiz-actions {
  display: flex;
}

.quiz-actions button {
  margin-right: var(--card-spacing);
}

@media (max-width: 768px) {
  .profile-quizzes {
    flex-direction: column;
  }
}
