.back-link {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    color: var(--purple-700);
    text-decoration: none;
    gap: 0.5rem;
}

.create-quiz-form {
    margin-bottom: 1rem;
}

.input-label {
    font-size: 1.2rem;
}

.difficulty-label {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.difficulty-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.generate-btn {
    margin-top: 1rem;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.quiz-header-right {
    display: flex;
    align-items: center;
}

.topic-btn {
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    padding: 0.7rem;
    padding-right: 10rem;
    background-color: white;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.save-btn {
    font-size: 1.2rem;
}

.icon {
    vertical-align: middle;
    margin-right: 4px;
}

.quiz-question {
    margin-bottom: 1rem;
}

.icon-buttons {
    gap: 0.5rem;
    display: flex;
    align-items: center;
}

.icon-btn {
    padding: 0.25rem;
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.question-text {
    max-width: 90%;
    margin: 0;
    font-weight: 500;
    color: var(--gray-700);
    font-size: 1.3rem;
}

.option-label {
    display: block;
    margin-bottom: 0.25rem;
}

.q-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8e9f8;
    padding: 1.5rem;
    border-radius: 5px 5px 0 0;
}

.option-div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 750px) {
    .q-card-title {
        flex-direction: column;
        gap: 0.5rem;
    }

    .quiz-header {
        display: flex;
        flex-direction: column;
    }

    .quiz-header-right {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.option-div button {
    padding: var(--card-spacing);
    font-size: 1.1rem;
    font-weight: 200;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-300);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.option-div button:hover {
    background-color: var(--gray-100);
}

.opt-letter {
    border-radius: 50%;
    background-color: var(--gray-100);
    color: var(--gray-700);
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}